body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-right: 15px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 30% 70%;
  grid-template-areas: 
  "head head"
  "side nav"
  "side art"
  "foot foot";
  grid-gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-area: head;
}

.sidebar {
  background-color: #FF7755;
  grid-area: side;
}

.nav {
  background-color: #00DDFF;
  grid-area: nav;
}

.article {
  background-color: #bccbde;
  grid-area: art;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-area: foot;
}
